<div class="flex h-full min-h-screen">
  <div class="flex flex-col bg-white border-r w-52">
    <!-- DPI Logo -->
    <div class="flex items-center justify-between p-4 border-b">
      <div class="flex items-center gap-2.5">
        <button>
          <img src="assets/logo.svg" alt="DPI system logo" />
        </button>
        <span class="text-lg font-bold tracking-wide">DPI</span>
      </div>
      <button class="group">
        <img
          src="assets/icons/hide-icon.svg"
          alt="Hide icon"
          class="transform group-hover:translate-x-[-5px] transition-transform duration-200"
        />
      </button>
    </div>

    <!-- Sidebar content -->
    <nav class="flex flex-col justify-start h-full gap-10 pt-20">
      <!-- First Section -->
      <div class="flex flex-col gap-6">
        <h3 class="px-4 text-xs uppercase text-dark-gray">Main Menu</h3>
        <ul class="flex flex-col gap-4">
          <li>
            <a
              routerLink="medecin/dashboard"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              ariaCurrentWhenActive="page"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.4178 7.98428L12.5292 4.18195C11.6467 3.49534 10.4106 3.49534 9.52806 4.18195L4.63856 7.98428C4.0431 8.44735 3.69496 9.15954 3.69531 9.91386V16.5139C3.69531 17.5264 4.51612 18.3472 5.52865 18.3472H16.5286C17.5412 18.3472 18.362 17.5264 18.362 16.5139V9.91386C18.362 9.15945 18.0136 8.4472 17.4178 7.98428"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.6654 13.7501C12.6395 14.972 9.35603 14.972 7.33203 13.7501"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="text-sm">Dashboard</span>
            </a>
          </li>

          <li>
            <a
              routerLink="medecin/nouvelle-consultation"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              ariaCurrentWhenActive="page"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_27_252)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14 7C14 9.20914 12.2091 11 10 11C7.79086 11 6 9.20914 6 7C6 4.79086 7.79086 3 10 3C12.2091 3 14 4.79086 14 7ZM12 7C12 8.10457 11.1046 9 10 9C8.89543 9 8 8.10457 8 7C8 5.89543 8.89543 5 10 5C11.1046 5 12 5.89543 12 7Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 17.1666C18 16.7333 17.8642 16.3074 17.5815 15.979C15.7477 13.8488 13.0313 12.5 10 12.5C6.96866 12.5 4.25235 13.8488 2.41847 15.979C2.13576 16.3074 2 16.7333 2 17.1666V19C2 20.1046 2.89543 21 4 21H16C17.1046 21 18 20.1046 18 19V17.1666ZM16 17.2083C14.5313 15.5445 12.3887 14.5 10 14.5C7.61132 14.5 5.46872 15.5445 4 17.2083V19H16V17.2083ZM4.00017 17.1622L4.00017 17.1623L4.00012 17.1627L4.00017 17.1622Z" fill="currentColor"/>
              <path d="M20 13C19.4477 13 19 12.5523 19 12V10H17C16.4477 10 16 9.55229 16 9C16 8.44772 16.4477 8 17 8H19V6C19 5.44772 19.4477 5 20 5C20.5523 5 21 5.44772 21 6V8H23C23.5523 8 24 8.44772 24 9C24 9.55229 23.5523 10 23 10H21V12C21 12.5523 20.5523 13 20 13Z" fill="currentColor"/>
              </g>
              <defs>
              <clipPath id="clip0_27_252">
              <rect width="24" height="24" fill="white"/>
              </clipPath>
              </defs>
              </svg>
              

              <span class="text-sm">Nouvelle Consultation</span>
            </a>
          </li>

          <li>
            <a
              routerLink="medecin/recherche-dossier"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              ariaCurrentWhenActive="page"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.62765 1.8335C5.32439 1.8335 1.83594 5.32194 1.83594 9.62516C1.83594 13.9284 5.32439 17.4168 9.62765 17.4168C11.4485 17.4168 13.1246 16.7913 14.4509 15.7448L18.8729 20.1668C19.2309 20.5248 19.8113 20.5248 20.1693 20.1668C20.5273 19.8089 20.5273 19.2284 20.1693 18.8705L15.7472 14.4485C16.7938 13.1222 17.4193 11.4461 17.4193 9.62516C17.4193 5.32194 13.9309 1.8335 9.62765 1.8335ZM3.66927 9.62516C3.66927 6.33447 6.33691 3.66683 9.62765 3.66683C12.9183 3.66683 15.586 6.33447 15.586 9.62516C15.586 11.2708 14.92 12.7591 13.8407 13.8383C12.7615 14.9176 11.2732 15.5835 9.62765 15.5835C6.33691 15.5835 3.66927 12.9159 3.66927 9.62516Z"
                  fill="currentColor"
                />
              </svg>

              <span class="text-sm">Recherche Dossier</span>
            </a>
          </li>

          <li>
            <a
              routerLink="medecin/liste-ordonnances"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              ariaCurrentWhenActive="page"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 14C14 14.5523 13.5523 15 13 15H9C8.44771 15 8 14.5523 8 14C8 13.4477 8.44771 13 9 13H13C13.5523 13 14 13.4477 14 14Z"
                  fill="currentColor"
                />
                <path
                  d="M16 10C16 10.5523 15.5523 11 15 11H9C8.44771 11 8 10.5523 8 10C8 9.44771 8.44771 9 9 9H15C15.5523 9 16 9.44771 16 10Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.4142 6.41422C19.7893 6.78929 20 7.298 20 7.82843V20C20 21.1046 19.1046 22 18 22H6C4.89543 22 4 21.1046 4 20V4C4 2.89543 4.89543 2 6 2H14.1716C14.702 2 15.2107 2.21071 15.5858 2.58578L19.4142 6.41422ZM18 7.82843V20H6V4H14.1716L18 7.82843Z"
                  fill="currentColor"
                />
              </svg>

              <span class="text-sm">Liste Ordonnances</span>
            </a>
          </li>

          <li>
            <a
            routerLink="/logout"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="11"
                  cy="11"
                  r="8.25"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="11"
                  cy="11"
                  r="8.25"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <ellipse
                  cx="11"
                  cy="9.1665"
                  rx="2.75"
                  ry="2.75"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <ellipse
                  cx="11"
                  cy="9.1665"
                  rx="2.75"
                  ry="2.75"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.65234 17.2781C6.11823 15.7275 7.54595 14.666 9.16501 14.6665H12.8317C14.4529 14.6659 15.8821 15.7302 16.3462 17.2836"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.65234 17.2781C6.11823 15.7275 7.54595 14.666 9.16501 14.6665H12.8317C14.4529 14.6659 15.8821 15.7302 16.3462 17.2836"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-sm">Deconnexion</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="flex-1 h-full bg-background-gray">
    <router-outlet></router-outlet>
  </div>
</div>