<header class="header">Affichage Ordonnance</header>

<div class="flex flex-col w-full gap-4 px-16 py-4">

  <div class="w-full">
    <div *ngFor="let medication of medications; let i = index" class="pb-4 mb-4 border-b last:border-b-0">
      <div class="flex items-center justify-between w-full">
        <div>
          <label for="name{{ i }}" class="label">Nom du Médicament</label>
          <input
            type="text"
            id="name{{ i }}"
            name="name{{ i }}"
            [(ngModel)]="medication.name"
            class="input"
            readonly
          />
        </div>
        <div>
          <label for="dose{{ i }}" class="label">Dose</label>
          <input
            type="text"
            id="dose{{ i }}"
            name="dose{{ i }}"
            [(ngModel)]="medication.dose"
            class="input"
            readonly
          />
        </div>
        <div>
          <label for="duration{{ i }}" class="label">Durée</label>
          <input
            type="text"
            id="duration{{ i }}"
            name="duration{{ i }}"
            [(ngModel)]="medication.duration"
            class="input"
            readonly
          />
        </div>
      </div>
    </div>
  </div>

</div>
