<div
  class="relative flex flex-col items-center h-full px-10 py-6 bg-background-gray"
>
  <!-- Tableau des consultations -->
  <table
    class="w-full pb-4 overflow-hidden bg-white border-separate rounded-2xl"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of displayedColumns"
          class="px-4 py-3 text-xs font-medium text-left uppercase bg-white border-b border-gray-200 text-dark-gray font-main"
        >
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let consultation of paginatedConsultations"
        class="text-sm text-black hover:bg-gray-50"
      >
        <!-- Date -->
        <td class="td">{{ consultation.date_consultation || 'Non disponible' }}</td>

        <!-- Ordonnance -->
        <td class="td">
          <div *ngIf="consultation.ordonnance; else addOrdonnance">
            <button
              class="hover:underline text-primary-blue"
              (click)="openModalAffichageOrdonnance(consultation.id)"
            >
              Voir détails
            </button>
            <button
              class="text-gray-300 hover:text-red-500"
              (click)="openPopup('ordonnance', consultation)"
            >
              Supprimer
            </button>
          </div>
          <ng-template #addOrdonnance>
            <button
              class="text-gray-300 hover:text-green-500 hover:underline"
              (click)="openModalNouvelleOrdonnance(consultation.id)"
            >
              Ajouter ordonnance
            </button>
          </ng-template>
        </td>

        <!-- Bilan -->
        <td class="td">
          <div class="flex flex-col gap-2">
            <!-- Bilan biologique -->
            <div *ngIf="consultation.bilanb; else addBilanBio">
              <button
                class="text-pink-500 hover:underline"
                (click)="openModalAffichageBilanBio(consultation.id)"
              >
                Biologique
              </button>
            </div>
            <ng-template #addBilanBio>
              <button
                class="text-gray-300 hover:text-green-500 hover:underline"
                (click)="openModalNouveauBilanBio(consultation.id)"
              >
                Ajouter bilan biologique
              </button>
            </ng-template>

            <!-- Bilan radiologique -->
            <div *ngIf="consultation.bilanr; else addBilanRadio">
              <button
                class="text-gray-500 hover:underline"
                (click)="openModalAffichageBilanRadio(consultation.id)"
              >
                Radiologique
              </button>
            </div>
            <ng-template #addBilanRadio>
              <button
                class="text-gray-300 hover:text-green-500 hover:underline"
                (click)="openModalNouveauBilanRadio(consultation.id)"
              >
                Ajouter bilan radiologique
              </button>
            </ng-template>
          </div>
        </td>

        <!-- Visualisation -->
        <td class="td">
          <button
            *ngIf="consultation.bilanb; else noData"
            class="hover:underline text-primary-blue"
            (click)="openModalVisualisation(consultation.id)"
          >
            Voir graphique
          </button>
          <ng-template #noData>
            <p class="text-red-500">Aucune donnée</p>
          </ng-template>
        </td>

        <!-- Résultats -->
        <td class="td">
          <div class="flex flex-col gap-2">
            <!-- Résultat biologique -->
            <div *ngIf="consultation.resultatsb; else noResultBio">
              <button
                class="text-pink-500 hover:underline"
                (click)="openModalResultatBio(consultation.id)"
              >
                Biologique
              </button>
            </div>
            <ng-template #noResultBio>
              <button class="text-red-500">Aucun résultat</button>
            </ng-template>

            <!-- Résultat radiologique -->
            <div *ngIf="consultation.resultatsr; else noResultRadio">
              <button
                class="text-gray-500 hover:underline"
                (click)="openModalResultatRadio(consultation.id)"
              >
                Radiologique
              </button>
            </div>
            <ng-template #noResultRadio>
              <button class="text-red-500">Aucun résultat</button>
            </ng-template>
          </div>
        </td>

        <!-- Résumé -->
        <td class="td">
          <div *ngIf="consultation.resume_consultation; else addResume">
            <button
              class="hover:underline text-primary-blue"
              (click)="openModalAffichageResume(consultation.id)"
            >
              Voir détails
            </button>
            <button
              class="text-gray-300 hover:text-red-500"
              (click)="openPopup('resume', consultation)"
            >
              Supprimer
            </button>
          </div>
          <ng-template #addResume>
            <button
              class="text-gray-300 hover:text-green-500 hover:underline"
              (click)="openModalNouveauResume(consultation.id)"
            >
              Ajouter résumé
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="flex items-center justify-center py-2 space-x-2 text-black">
    <button
      class="px-4 py-2 text-xs font-semibold text-white rounded-md bg-primary-blue hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(1)"
      [disabled]="currentPage === 1"
    >
      Premier
    </button>
    <button
      class="px-4 py-2 text-xs font-medium bg-white border rounded-lg border-primary-blue text-primary-blue hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Précédent
    </button>
    <span class="px-4 py-2 text-xs font-medium text-gray-800">
      Page {{ currentPage }} sur {{ totalPages }}
    </span>
    <button
      class="px-4 py-2 text-xs font-medium bg-white border rounded-lg text-primary-blue border-primary-blue hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Suivant
    </button>
    <button
      class="px-4 py-2 text-xs font-semibold text-white rounded-md bg-primary-blue hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(totalPages)"
      [disabled]="currentPage === totalPages"
    >
      Dernier
    </button>
  </div>

  <!-- Popup Confirmation -->
  <div
    *ngIf="popupVisible"
    class="absolute inset-0 z-50 flex items-center justify-center h-full bg-opacity-100 backdrop-blur-sm"
  >
    <div class="p-6 bg-white rounded-lg shadow-md">
      <h2 class="mb-4 text-lg font-semibold">Confirmation</h2>
      <p>Êtes-vous sûr(e) de vouloir supprimer cet élément ?</p>
      <div class="flex justify-end mt-4 space-x-2">
        <button
          class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600"
          (click)="confirmDelete()"
        >
          Confirmer
        </button>
        <button
          class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300"
          (click)="cancelDelete()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="isModalVisible" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
