<div
  class="relative flex flex-col items-center h-full px-10 py-6 bg-background-gray"
>
  <table
    class="w-full pb-4 overflow-hidden bg-white border-separate rounded-2xl"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of displayedColumns"
          class="px-4 py-3 text-xs font-medium text-left uppercase bg-white border-b border-gray-200 text-dark-gray font-main"
        >
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let consultation of consultations"
        class="text-sm text-black hover:bg-gray-50"
      >
        <td class="td">{{ consultation.date_consultation }}</td>
        <td class="td">
          <div
            *ngIf="consultation.ordonnance"
            class="flex items-center w-full gap-2"
          >
            <button
              class="hover:underline text-primary-blue"
              (click)="openModalAffichageOrdonnance(consultation.id)"
            >
              Voir details
            </button>
            <button
              class="text-gray-300 hover:text-red-500"
              (click)="openPopup('ordonnance', consultation)"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 7H20"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 11V17"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14 11V17"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 7L6 19C6 20.1046 6.89543 21 8 21H16C17.1046 21 18 20.1046 18 19L19 7"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 7V4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V7"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>

          <div
            *ngIf="!consultation.ordonnance"
            class="flex items-center w-full gap-2"
          >
            <button
              class="text-gray-300 hover:text-green-500 hover:underline"
              (click)="openModalNouvelleOrdonnance(consultation.id)"
            >
              Ajouter Ordonnance
            </button>
          </div>
        </td>
        <td class="td">
          <div class="flex flex-col gap-2">
            <div
              *ngIf="consultation.bilanb"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-pink-500 hover:underline"
                (click)="openModalAffichageBilanBio(consultation.id)"
              >
                Biologique
              </button>
            </div>

            <div
              *ngIf="!consultation.bilanb"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-gray-300 hover:text-green-500 hover:underline"
                (click)="openModalNouveauBilanBio(consultation.id)"
              >
                Ajouter bilan biologique
              </button>
            </div>

            <div
              *ngIf="consultation.bilanr"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-green-500 hover:underline"
                (click)="openModalAffichageBilanRadio(consultation.id)"
              >
                Consulter bilan radiologique
              </button>
            </div>

            <div
              *ngIf="!consultation.bilanr"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-gray-300 hover:text-green-500 hover:underline"
                (click)="openModalNouveauBilanRadio(consultation.id)"
              >
                Ajouter bilan radiologique
              </button>
            </div>
          </div>
        </td>
        <td class="td">
          <div
            *ngIf="consultation.bilanb"
            class="flex items-center w-full gap-2"
          >
            <button
              class="hover:underline text-primary-blue"
              (click)="openModalVisualisation(consultation.id)"
            >
              Voir graphique
            </button>
          </div>

          <div
            *ngIf="!consultation.bilanb"
            class="flex items-center w-full gap-2"
          >
            <p
              class="text-red-500"
              (click)="openModalNouveauResume(consultation.id)"
            >
              Aucune 
        </p>
          </div>
        </td>
        <td class="td">
          <div class="flex flex-col gap-2">
            <div
              *ngIf="consultation.resultatsb"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-pink-500 hover:underline"
                (click)="openModalResultatBio(consultation.id)"
              >
                Biologique
              </button>
            </div>

            <div
              *ngIf="!consultation.resultatsb"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-red-500"
              >
                Aucun resultat
              </button>
            </div>

            <div
              *ngIf="consultation.resultatsr"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-gray-500 hover:underline"
                (click)="openModalResultatRadio(consultation.id)"
              >
                Radiologique
              </button>
            </div>

            <div
              *ngIf="!consultation.resultatsr"
              class="flex items-center w-full gap-2"
            >
              <button
                class="text-red-500"
              >
                Aucun resultat
              </button>
            </div>
          </div>
        </td>
        <td class="td">
          <div
            *ngIf="consultation.resume_consultation"
            class="flex items-center w-full gap-2"
          >
            <button
              class="hover:underline text-primary-blue"
              (click)="openModalAffichageResume(consultation.id)"
            >
              Voir details
            </button>
            <button
              class="text-gray-300 hover:text-red-500"
              (click)="openPopup('resume', consultation)"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 7H20"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 11V17"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14 11V17"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 7L6 19C6 20.1046 6.89543 21 8 21H16C17.1046 21 18 20.1046 18 19L19 7"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 7V4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V7"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>

          <div
            *ngIf="!consultation.resume_consultation"
            class="flex items-center w-full gap-2"
          >
            <button
              class="text-gray-300 hover:text-green-500 hover:underline"
              (click)="openModalNouveauResume(consultation.id)"
            >
              Ajouter resume
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="flex items-center justify-center py-2 space-x-2 text-black">
    <!-- First Button -->
    <button
      class="px-4 py-2 text-xs font-semibold text-white rounded-md bg-primary-blue hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(1)"
      [disabled]="currentPage === 1"
    >
      First
    </button>

    <!-- Previous Button -->
    <button
      class="px-4 py-2 text-xs font-medium bg-white border rounded-lg border-primary-blue text-primary-blue hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>

    <!-- Page Indicator -->
    <span class="px-4 py-2 text-xs font-medium text-gray-800">
      Page {{ currentPage }} of {{ totalPages }}
    </span>

    <!-- Next Button -->
    <button
      class="px-4 py-2 text-xs font-medium bg-white border rounded-lg text-primary-blue border-primary-blue hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>

    <!-- Last Button -->
    <button
      class="px-4 py-2 text-xs font-semibold text-white rounded-md bg-primary-blue hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="changePage(totalPages)"
      [disabled]="currentPage === totalPages"
    >
      Last
    </button>
  </div>
</div>

<div
  *ngIf="popupVisible"
  class="absolute inset-0 z-50 flex items-center justify-center h-full bg-opacity-100 backdrop-blur-sm"
>
  <div class="p-6 bg-white rounded-lg shadow-md">
    <h2 class="mb-4 text-lg font-semibold">Confirmation</h2>
    <p>Êtes-vous sûr(e) de vouloir supprimer cet élément ?</p>
    <div class="flex justify-end mt-4 space-x-2">
      <button
        class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600"
        (click)="confirmDelete()"
      >
        Confirmer
      </button>
      <button
        class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300"
        (click)="cancelDelete()"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
<div *ngIf="isModalVisible" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
<router-outlet></router-outlet>
</div>
</div>