<header class="header">Affichage Resume</header>

<div class="flex flex-col gap-4 px-8 py-4">
  <form>
    <div class="flex items-center w-full gap-4">
        <div class="flex-1">
            <!-- Symptoms Input (Read-Only) -->
            <div class="form-group">
              <label for="symptoms" class="label">Symptômes</label>
              <textarea
                id="symptoms"
                [(ngModel)]="symptoms"
                name="symptoms"
                rows="3"
                class="input"
                placeholder="Entrez les symptômes"
                readonly
              ></textarea>
            </div>
      
            <!-- Diagnostic Input (Read-Only) -->
            <div class="form-group">
              <label for="diagnostic" class="label">Diagnostic</label>
              <input
                id="diagnostic"
                type="text"
                [(ngModel)]="diagnostic"
                name="diagnostic"
                class="input"
                placeholder="Entrez le diagnostic"
                readonly
              />
            </div>
          </div>
      
          <div class="flex-1">
            <!-- Information on Measures Input (Read-Only) -->
            <div class="form-group">
              <label for="measuresInfo" class="label">Informations sur les mesures</label>
              <textarea
                id="measuresInfo"
                [(ngModel)]="measuresInfo"
                name="measuresInfo"
                rows="3"
                class="input"
                placeholder="Entrez les informations sur les mesures"
                readonly
              ></textarea>
            </div>
      
            <!-- Next Consultation Date Input (Read-Only) -->
            <div class="form-group">
              <label for="nextConsultation" class="label">Date de la prochaine consultation</label>
              <input
                id="nextConsultation"
                type="date"
                [(ngModel)]="nextConsultation"
                name="nextConsultation"
                class="input"
                readonly
              />
            </div>
          </div>
    </div>
  </form>
</div>