<header class="header">
  Nouvelle Consultation
</header>
<div class="flex justify-center w-full h-screen px-24 py-8 bg-background-gray">
  <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()" class="w-full white-card">
      <div class="form-group">
        <label for="dateConsultation" class="label">Date Consultation</label>
        <input
          type="date"
          id="dateConsultation"
          formControlName="dateConsultation"
          class="input"
        />
        <div *ngIf="consultationForm.get('dateConsultation')?.invalid && consultationForm.get('dateConsultation')?.touched" class="text-sm text-red-500">
          Ce champ est obligatoire.
        </div>
      </div>
    
      <div>
        <label class="label" for="nomPatient">Nom Patient</label>
        <input
          type="text"
          id="nomPatient"
          formControlName="nomPatient"
          class="input"
        />
        <div *ngIf="consultationForm.get('nomPatient')?.invalid && consultationForm.get('nomPatient')?.touched" class="text-sm text-red-500">
          Ce champ est obligatoire.
        </div>
      </div>
    
      <div>
        <label for="prenomPatient" class="label">Prenom Patient</label>
        <input
          type="text"
          id="prenomPatient"
          formControlName="prenomPatient"
          class="input"
        />
        <div *ngIf="consultationForm.get('prenomPatient')?.invalid && consultationForm.get('prenomPatient')?.touched" class="text-sm text-red-500">
          Ce champ est obligatoire.
        </div>
      </div>
    
      <div>
        <label for="nss" class="label">NSS</label>
        <input
          type="text"
          id="nss"
          formControlName="nss"
          class="input"
        />
        <div *ngIf="consultationForm.get('nss')?.invalid && consultationForm.get('nss')?.touched" class="text-sm text-red-500">
          Le NSS doit être un numéro de 12 chiffres.
        </div>
      </div>
    
      <button type="submit" class="mt-5  button-main" [disabled]="consultationForm.invalid">
        Continuer
      </button>
    </form> 
</div>

