<div class="flex items-center justify-center h-full px-5 py-5 bg-background-gray">
    <form class="flex flex-col items-end gap-3">
      <div class="flex w-full gap-5">
        <div class="flex flex-col flex-1 gap-2">
          <h3 class="form-category">Informations du Patient</h3>
          <div class="white-card">
            <div>
              <label for="nss" class="label">NSS</label>
              <input id="nss" [value]="dossierData.get('nss')?.value" type="text" class="input" readonly />
            </div>
            
            <div class="flex justify-between gap-2">
              <div>
                <label for="nom" class="label">Nom</label>
                <input id="nom" [value]="dossierData.get('nom')?.value" type="text" class="input" readonly />
              </div>
              <div>
                <label for="prenom" class="label">Prenom</label>
                <input id="prenom" [value]="dossierData.get('prenom')?.value" type="text" class="input" readonly />
              </div>
            </div>
            
            <div>
              <label for="numTel" class="label">Numero Telephone</label>
              <input id="numTel" [value]="dossierData.get('numTel')?.value" type="text" class="input" readonly />
            </div>
  
            <div>
              <label for="dateNaiss" class="label">Date de Naissance</label>
              <input id="dateNaiss" [value]="dossierData.get('dateNaiss')?.value" type="date" class="input" readonly />
            </div>
  
            <div>
              <label for="adresse" class="label">Adresse</label>
              <input id="adresse" [value]="dossierData.get('adresse')?.value" type="text" class="input" readonly />
            </div>
  
            <div>
              <label for="medecinTraitant" class="label">Medecin Traitant</label>
              <input id="medecinTraitant" [value]="dossierData.get('medecinTraitant')?.value" type="text" class="input" readonly />
            </div>
          </div>
        </div>
  
        <div class="flex flex-col justify-between flex-1">
          <div class="flex flex-col gap-2">
            <h3 class="form-category">Personne à Contacter</h3>
            <div class="white-card">
              <div class="flex justify-between gap-2">
                <div>
                  <label for="nomContact" class="label">Nom</label>
                  <input id="nomContact" [value]="dossierData.get('nomContact')?.value" type="text" class="input" readonly />
                </div>
                <div>
                  <label for="prenomContact" class="label">Prenom</label>
                  <input id="prenomContact" [value]="dossierData.get('prenomContact')?.value" type="text" class="input" readonly />
                </div>
              </div>
  
              <div>
                <label for="numTelContact" class="label">Numero Telephone</label>
                <input id="numTelContact" [value]="dossierData.get('numTelContact')?.value" type="text" class="input" readonly />
              </div>
            </div>
          </div>
  
          <div class="flex flex-col gap-2">
            <h3 class="form-category">Informations de la Mutuelle</h3>
            <div class="white-card">
              <div>
                <label for="nomMutuelle" class="label">Nom Mutuelle</label>
                <input id="nomMutuelle" [value]="dossierData.get('nomMutuelle')?.value" type="text" class="input" readonly />
              </div>
  
              <div>
                <label for="numAdherent" class="label">Numero Adherent</label>
                <input id="numAdherent" [value]="dossierData.get('numAdherent')?.value" type="text" class="input" readonly />
              </div>
  
              <div>
                <label for="typeCouverture" class="label">Type de couverture</label>
                <input id="typeCouverture" [value]="dossierData.get('TypeCouverture')?.value" type="text" class="input" readonly />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>