<div class="flex h-full min-h-screen">
  <div class="flex flex-col bg-white border-r w-52">
    <!-- DPI Logo -->
    <div class="flex items-center justify-between p-4 border-b">
      <div class="flex items-center gap-2.5">
        <button>
          <img src="assets/logo.svg" alt="DPI system logo" />
        </button>
        <span class="text-lg font-bold tracking-wide">DPI</span>
      </div>
      <button class="group">
        <img
          src="assets/icons/hide-icon.svg"
          alt="Hide icon"
          class="transform group-hover:translate-x-[-5px] transition-transform duration-200"
        />
      </button>
    </div>

    <!-- Sidebar content -->
    <nav class="flex flex-col justify-start h-full gap-10 pt-20">
      <!-- First Section -->
      <div class="flex flex-col gap-6">
        <h3 class="px-4 text-xs uppercase text-dark-gray">Main Menu</h3>
        <ul class="flex flex-col gap-4">
          <li>
            <a
              routerLink="/dashboard"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              ariaCurrentWhenActive="page"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.4178 7.98428L12.5292 4.18195C11.6467 3.49534 10.4106 3.49534 9.52806 4.18195L4.63856 7.98428C4.0431 8.44735 3.69496 9.15954 3.69531 9.91386V16.5139C3.69531 17.5264 4.51612 18.3472 5.52865 18.3472H16.5286C17.5412 18.3472 18.362 17.5264 18.362 16.5139V9.91386C18.362 9.15945 18.0136 8.4472 17.4178 7.98428"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.6654 13.7501C12.6395 14.972 9.35603 14.972 7.33203 13.7501"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="text-sm">Dashboard</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/mon-dossier"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >

                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M22 7.99998C22 6.89541 21.1045 5.99998 20 5.99998H12L10.5857 4.58576C10.2107 4.21069 9.70196 3.99998 9.17152 3.99998H3.99995C2.89538 3.99998 1.99995 4.89541 1.99995 5.99998V18C1.99995 19.1045 2.89538 20 3.99995 20H20C21.1045 20 22 19.1045 22 18V7.99998ZM10.5857 7.41419C10.9608 7.78926 11.4695 7.99998 12 7.99998H20V18H3.99995L3.99995 5.99998L9.17152 5.99998L10.5857 7.41419Z"
                                     fill="currentColor"
                />
              </svg>

              <span class="text-sm">Mon dossier médical</span>
            </a>
          </li>
          
          <li>
            <a
              routerLink="/mes-informations-personnelles"
              routerLinkActive="bg-accent-blue text-primary-blue font-semibold"
              ariaCurrentWhenActive="page"
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
              <svg
                width="34"
                height="34"
                viewBox="0 0 21 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="11"
                  cy="11"
                  r="8.25"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="11"
                  cy="11"
                  r="8.25"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <ellipse
                  cx="11"
                  cy="9.1665"
                  rx="2.75"
                  ry="2.75"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <ellipse
                  cx="11"
                  cy="9.1665"
                  rx="2.75"
                  ry="2.75"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.65234 17.2781C6.11823 15.7275 7.54595 14.666 9.16501 14.6665H12.8317C14.4529 14.6659 15.8821 15.7302 16.3462 17.2836"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.65234 17.2781C6.11823 15.7275 7.54595 14.666 9.16501 14.6665H12.8317C14.4529 14.6659 15.8821 15.7302 16.3462 17.2836"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-sm ">Mes Informations Personelles</span>
            </a>
          </li>
          <li>
            <a
              class="flex items-center gap-2 px-2 py-2 mx-2 rounded-md cursor-pointer group hover:bg-accent-blue text-dark-gray hover:text-primary-blue hover:font-semibold"
            >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 12H13" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18 15L20.913 12.087C20.961 12.039 20.961 11.961 20.913 11.913L18 9" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
              <span class="text-sm">Deconnexion</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="flex-1 h-full bg-background-gray">
    <router-outlet></router-outlet>
  </div>
</div>
