<header class="header">Interface Administrateur</header>

<div
  class="flex flex-col items-center w-full h-full gap-6 px-8 py-6 bg-background-gray"
>
  <div class="flex flex-col w-full gap-6">
    <div class="flex flex-col gap-1">
      <h2 class="text-lg font-semibold">Vos Statistiques</h2>
      <p class="text-xs text-dark-gray">
        Vous trouverez ici les dernières statistiques concernant la création des
        dossiers.
      </p>
    </div>
    <div class="grid justify-between w-full grid-cols-3 gap-4">
      <div class="small-white-card">
        <div class="flex flex-col items-start justify-between h-full gap-2">
            <div class="flex flex-col gap-1">
              <p class="text-base font-semibold text-black">Nombre DPI</p>
              <p class="text-xs text-dark-gray">Aujourd'hui</p>
            </div>
            <p class="text-2xl font-bold">{{ numberOfDpis }}</p> <!-- Bind the variable here -->
          </div>
        <img
          src="/assets/purple-wave.svg"
          alt="purple graph"
          class="self-end"
        />
      </div>

      <div class="small-white-card">
        <div class="flex flex-col items-start justify-between h-full gap-2">
          <div class="flex flex-col gap-1">
            <p class="text-base font-semibold text-black">Nombre DPI</p>
            <p class="text-xs text-dark-gray">Aujourd'hui</p>
          </div>
          <p class="text-2xl font-bold">{{ numberOfDpis }}</p> <!-- Bind the variable here -->
        </div>

        <img src="/assets/green-wave.svg" alt="purple graph" class="self-end" />
      </div>

      <div class="small-white-card">
        <div class="flex flex-col items-start justify-between h-full gap-2">
          <div class="flex flex-col gap-1">
            <p class="text-base font-semibold text-black">Nombre DPI</p>
            <p class="text-xs text-dark-gray">Aujourd'hui</p>
          </div>
          <p class="text-2xl font-bold">{{ numberOfDpis }}</p> <!-- Bind the variable here -->
        </div>

        <img src="/assets/blue-wave.svg" alt="purple graph" class="self-end" />
      </div>
    </div>
  </div>
    <!-- Graph Section -->
    <div class="flex flex-col w-full gap-6">
      <div class="grid items-center justify-between grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Évolution des Dossiers</h2>
          <p class="text-xs text-dark-gray">
            Ce graphique montre l'évolution du nombre de dossiers au fil du temps,
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Dossiers Mensuels</h2>
          <p class="text-xs text-dark-gray">
            Ce graphique présente le nombre de dossiers traités chaque mois.
          </p>
        </div>
      </div>

      
      <div class="grid items-center justify-between grid-cols-2 gap-4">
        <div class="flex items-center justify-center p-4 small-white-card">
          <canvas id="dossierChart"></canvas>
        </div>

        <div class="flex items-center justify-center h-full p-4 bg-white rounded-lg shadow-sm small-white-card">
          <canvas id="dossierBarChart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
  
</div>
